<div class='row'>
  <div class='col-md-4'>
    <div class="card">
      <div class="card-header">
        {{pageTitle}}
      </div>
      <div class='card-body'>
        <div class="list-group">
          @for (product of products(); track product.id) {
            <button type="button" class="list-group-item"  (click)="onSelect(product.id)"
              [ngClass]="{'active': product.id === productId() }">
              {{ product.title }}
            </button>
          } @empty {
            No products found
          }
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <app-product-detail/>
  </div>
</div>
