@if (item()) {
  <div class="card border-primary">
    <div class='card-header text-primary'>
      <div class="row">
        <div class="col-md-4">Name:</div>
        <div class="col-md-6  fw-bold">{{item().detail.title}}</div>
        <div class="col-md-2">
          <button type="button" class="btn-close" aria-label="Close" (click)="onRemove()"></button>
        </div>
      </div>
    </div>

    <div class='card-body'>
      <div class="row">
        <div class="col-md-4">Price:</div>
        <div class="col-md-6">{{item().detail.price | number:'1.2-2'}}</div>
      </div>
      <div class="row">
        <div class="col-md-4">Class:</div>
        <div class="col-md-6">{{item().detail.category}}</div>
      </div>
      <div class="row">
        <div class="col-md-4">Quantity:</div>
        <div class="col-md-6">
          <select class="form-select" aria-label="Quantity list" [ngModel]="item().quantity"
            (change)="onQuantitySelected($any($event.target).value)">
            <option disabled value="">--Select a quantity--</option>
            @for (q of qtyArr(); track q) {
              <option>{{ q }}</option>
            }
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">Cost:</div>
        <div class="col-md-6">{{cost() | number:'1.2-2'}}</div>
      </div>
    </div>
  </div>
}


